.cta {
    display: block;
    width: 100%;
    padding: 40px;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        letter-spacing: 1px;
    }
    .cta-info {
        padding-right: 200px;
        span {
            display: block;
            margin-top: 5px;
            color: inherit;
            letter-spacing: 0.06rem;
        }
    }
    .cta-btn {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        height: auto;
        right: 40px;
        a.btn {
            margin-right: 0;
            padding: 15px 30px;
        }
    }
    &.full-width {
        padding: 60px 0;
        .cta-btn {
            right: 0;
        }
        .container {
            position: relative;
        }
    }
    a.btn {
        padding: 15px 30px;
    }
    &.border-box {
        border: 1px solid #ececec;
    }
    &.rounded {
        -webkit-border-radius: 0.5rem !important;
        -moz-border-radius: 0.5rem !important;
        border-radius: 0.5rem !important;
    }
    &.text-center {
        a {
            position: relative;
        }
        .cta-btn {
            position: relative;
            display: inline-block;
            a {
                display: inline-block;
            }
        }
        .cta-info {
            padding-right: 0;
            span {
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
            }
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 480px) {
    .cta {
        padding: 40px;
        .cta-info {
            padding-right: 0px;
            span {
                display: block;
                margin-top: 5px;
                color: inherit;
                letter-spacing: 0.06rem;
            }
        }
        .cta-btn {
            position: static;
            top: 0%;
            -webkit-transform: unset;
            -moz-transform: unset;
            -ms-transform: unset;
            -o-transform: unset;
            transform: unset;
            height: auto;
            margin-top: 25px;
            a.btn {
                margin-right: 0;
                padding: 15px 30px;
            }
        }
    }
}