.dropcap {
    float: left;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 3rem;
    margin: 6px 20px 0 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.dropcap-square {
    float: left;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    background: #dddddd;
    font-size: 3rem;
    margin: 6px 20px 0 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.dropcap-round {
    float: left;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    background: #dddddd;
    font-size: 2.5rem;
    margin: 6px 20px 0 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}