.parallax {
    -o-background-size: cover !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    position: relative;
    z-index: 0;
    -webkit-background-origin: initial;
    -moz-background-origin: initial;
    -o-background-origin: initial;
    background-origin: initial;
    background-position: center center !important;
    background-repeat: no-repeat;
}