.progress-box {
    .progress-bar-item {
        margin-bottom: 25px;
        overflow: hidden;
        p {
            margin-bottom: 0;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 700;
            line-height: 30px;
        }
        .progress {
            overflow: visible;
            margin: 0;
            padding: 0;
            height: 4px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            .progress-bar {
                position: relative;
                border: none;
                height: 4px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                background: #555555;
                span {
                    position: absolute;
                    top: -23px;
                    right: 0;
                    font-size: 14px;
                }
            }
        }
    }
}