.tabs-container {
    .nav {
        .nav-item {
            a.nav-link {
                padding: .5rem 2rem;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                color: inherit;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.85rem;
                border: 1px solid #eeeeee;
                background: #fafafa;
                font-weight: 400;
                &.active {
                    background-color: #232323;
                    color: #fff;
                    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                }
                i {
                    padding-right: 5px;
                }
            }
        }
    }
    .tab-content {
        padding: 30px 0;
        .tab-pane {
            font-size: 1rem;
        }
    }
    &.tab-bordered {
        .tab-content {
            padding: 30px 30px;
            border-bottom: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
        }
    }
    &.tab-vertical {
        .nav-tabs {
            float: left;
            width: 25%;
            li {
                display: block;
                width: 100%;
            }
        }
        .tab-content {
            background-color: #fff;
            border: 1px solid #e9e9e9;
            padding: 40px 30px;
            margin-left: 25%;
            line-height: 30px;
            margin-top: 0;
        }
    }
    &.tab-circle {
        .nav {
            border-bottom: 0px solid transparent;
            .nav-item {
                a.nav-link {
                    -webkit-border-radius: 10rem;
                    -moz-border-radius: 10rem;
                    border-radius: 10rem;
                    padding: 0.25rem 1.25rem;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(25, 25, 25);
                    margin: 0 10px;
                }
            }
        }
    }
    &.tab-morden {
        .nav {
            .nav-item {
                text-align: center;
                a.nav-link {
                    padding: 26px 20px;
                    span {
                        display: block;
                    }
                    &.active {
                        background-color: #232323;
                        color: #fff;
                        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
                    }
                    i {
                        display: block;
                        font-size: 32px;
                        padding: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .tabs-container {
        &.tab-vertical {
            .nav-tabs {
                float: none;
                width: 100%;
                margin-bottom: 20px;
                li {
                    display: block;
                    width: 100%;
                }
            }
            .tab-content {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}