.local-video-container {
    position: relative;
    overflow: hidden;
}

.local-video-container video {
    max-width: 100%;
}

.embed-audio-container iframe {
    width: 100%;
    border: 0;
}

.video-button {
    height: 52px;
    width: 52px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    i {
        position: absolute;
        left: 53%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: inherit;
    }
    &.video-button-light {
        .video-button-animation {
            background: #ffffff;
        }
        background: #ffffff;
        border: 2px solid #ffffff;
        color: #252525;
    }
    &.video-button-dark {
        .video-button-animation {
            background: #111111;
        }
        background: #111111;
        border: 2px solid #111111;
        color: #ffffff;
    }
    &.video-button-lg {
        height: 80px;
        width: 80px;
    }
    .video-button-animation {
        -webkit-animation: sonarWave 2s linear infinite;
        -moz-animation: sonarWave 2s linear infinite;
        -o-animation: sonarWave 2s linear infinite;
        animation: sonarWave 2s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 9999px;
        -moz-border-radius: 9999px;
        border-radius: 9999px;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }
    &:hover {
        opacity: 0.9;
    }
}

@-webkit-keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@-moz-keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@-o-keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}