.counter {
    position: relative;
    min-height: 60px;
    text-align: center;
    .icon {
        font-size: 40px;
        opacity: 0.8;
    }
    .timer {
        display: block;
        font-size: 44px;
        font-weight: 600;
        line-height: 40px;
        margin: 20px 0 5px;
    }
    .counter-label {
        font-size: 0.8rem;
        margin: 10px 0 0;
        position: relative;
        text-transform: capitalize;
        color: inherit;
        letter-spacing: 2px;
    }
    &.counter-left {
        position: relative;
        padding-left: 3.5rem;
        .icon {
            font-size: 40px;
            line-height: 50px;
            position: absolute;
            left: 0;
            bottom: auto;
            top: 0;
        }
        span {
            margin: 0;
            line-height: 40px;
            text-align: left;
        }
        .counter-label {
            text-align: left;
        }
    }
    &.counter-right {
        position: relative;
        padding-right: 4rem;
        .icon {
            font-size: 40px;
            line-height: 50px;
            position: absolute;
            right: 0;
            bottom: auto;
            top: 0;
        }
        span {
            margin: 0;
            line-height: 40px;
            text-align: right;
        }
        .counter-label {
            text-align: right;
            display: block;
        }
    }
}

@media only screen and (max-width: 480px) {
    .counter {
        .timer {
            font-size: 38px;
        }
    }
}