.faq_artical {
    border-bottom: 1px solid #eee;
    display: block;
    height: auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
    &:last-child {
        border: 0px solid;
    }
    h4 {
        margin-bottom: 10px;
        line-height: 1.4;
        font-weight: 400;
        color: #111111;
        font-size: 18px;
        letter-spacing: 1px;
    }
    span.text-right {
        margin-left: 20px;
        i {
            margin: 0px 5px;
            color: #000;
            cursor: pointer;
        }
    }
    .faq_feedback {
        text-transform: capitalize;
        margin-top: 20px;
    }
}

.faq-form {
    padding-bottom: 80px;
    input {
        float: left;
        width: 80%;
    }
    .btn {
        width: 20%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        height: 44px;
        line-height: 44px;
        padding: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .faq-form {
        input {
            width: 70%;
        }
        .btn {
            width: 30%;
        }
    }
}