.icon-boxes {
    .icon-box {
        padding: 30px 15px;
        i {
            font-size: 40px;
            margin-right: 2px;
            margin-left: 2px;
        }
        h5 {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            padding-top: 20px;
            padding-bottom: 15px;
            position: relative;
            margin: 0;
        }
        p {
            line-height: 1.4;
            font-size: 15px;
        }
    }
    &.align-left {
        .icon-box {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            i {
                padding-right: 25px;
                font-size: 32px;
                display: inline-block;
                margin: 0px;
                margin-top: 5px;
            }
            .icon-box-info {
                width: 80%;
                display: inline-block;
                h5 {
                    margin-top: 0px;
                    padding-top: 0px;
                }
                p {
                    opacity: 0.8;
                }
            }
        }
    }
    &.with-shadow {
        padding: 0;
        .icon-box {
            -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
            -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
            padding: 40px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            &:hover {
                -webkit-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 0px 50px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0px 50px rgba(0, 0, 0, 0.1);
            }
        }
    }
}