footer {
    .widget {
        h6 {
            margin-bottom: 0.8rem;
            line-height: 1rem;
            font-size: 0.8rem;
        }
        p {
            margin-bottom: 0.9rem;
        }
        ul li {
            list-style: none;
            margin-bottom: 0.7rem;
            a {
                display: block;
                color: inherit;
            }
        }
        .footer-logo img {
            height: 2.5rem;
            width: auto;
            margin-top: 0.045rem;
            margin-bottom: 1.25rem;
        }
        .footer-addresss li {
            margin-bottom: 0.95rem;
            i {
                padding-right: 0.045rem;
                float: left;
                display: table-cell;
                width: 30px;
                line-height: 23px;
            }
            p {
                display: table;
                margin: 0;
            }
        }
        .footer-gallery ul li {
            float: left;
            width: -webkit-calc(25% - 4px);
            width: -moz-calc(25% - 4px);
            width: calc(25% - 4px);
            margin: 2px;
            list-style: none;
            a img {
                width: 100%;
            }
        }
    }
    .footer-inline-link {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                border-right: 1px solid;
                padding: 0 0.7rem;
                line-height: 1;
                font-size: 0.8rem;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &:last-child a {
                border: none;
            }
        }
    }
    .footer-social-icons li {
        color: inherit;
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0 0.7rem 0.7rem 0;
        a i {
            display: block;
            text-align: center;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
    .footer-subscribe-form {
        height: 3.2rem;
        overflow: hidden;
        input.input-round {
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            padding: 0.3em 1.5em 0.2em 1.5em;
            height: 3.2rem;
            border: 0px solid transparent;
        }
        .input-group .btn {
            position: relative;
            width: 3.75em;
            height: 100%;
            -webkit-border-radius: 0 30px 30px 0;
            -moz-border-radius: 0 30px 30px 0;
            border-radius: 0 30px 30px 0;
            padding: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            margin-left: -1px;
            span {
                position: absolute;
                top: 50%;
                left: 0;
                margin: 0 0 0 1.1rem;
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    .copyright p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    &.footer-padding {
        .footer {
            padding: 3.2rem 0;
        }
        .copyright {
            padding: 1.2rem 0;
        }
    }
    &.footer-padding-sm {
        .footer {
            padding: 1.8rem 0;
        }
        .copyright {
            padding: 1.1rem 0;
        }
    }
    &.footer-dark {
        .footer {
            background: #1a1a1a;
        }
        .copyright {
            background: #050801;
        }
        .footer-subscribe-form {
            .input-group .btn {
                background: rgba(255, 255, 255, 0.25);
                color: rgba(255, 255, 255, 0.3);
            }
            input.input-round {
                background: rgba(255, 255, 255, 0.08);
                color: rgba(255, 255, 255, 0.3);
            }
        }
        .footer-social-icons li a i,
        .widget h6 {
            color: #fff;
        }
        .footer-inline-link li a {
            border-color: rgba(255, 255, 255, 0.09);
        }
        li,
        small,
        p,
        li a,
        p a {
            color: rgba(255, 255, 255, 0.5);
        }
        a:hover {
            color: #ffffff;
        }
    }
    &.footer-light {
        background-color: #ffffff;
        .copyright {
            border-top: 1px solid rgba(0, 0, 0, 0.08);
        }
        .footer-social-icons li a i,
        .widget h6 {
            color: #282828;
            font-weight: 600;
        }
        .footer-inline-link li a {
            border-color: rgba(0, 0, 0, 0.09);
        }
        .footer-subscribe-form {
            .input-group .btn {
                background: rgba(0, 0, 0, 0.2);
                color: rgba(0, 0, 0, 0.3);
            }
            input.input-round {
                background: rgba(0, 0, 0, 0.08);
                color: rgba(0, 0, 0, 0.3);
            }
        }
        a,
        li,
        small,
        p {
            color: #626262;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 480px) {
    footer {
        .copyright-text,
        .footer-inline-link {
            text-align: center !important;
        }
    }
}