.divider {
    display: block;
    width: 80px;
    height: 3px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.section-title {
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.4rem;
    }
    p {
        max-width: 670px;
        font-size: 1rem;
        margin-bottom: 0;
    }
    &.title-center {
        text-align: center;
        p {
            margin-right: auto;
            margin-left: auto;
        }
        .title-divider {
            &:after {
                left: 50%;
                -webkit-transform: translate(-50%, 0%);
                -moz-transform: translate(-50%, 0%);
                -ms-transform: translate(-50%, 0%);
                -o-transform: translate(-50%, 0%);
                transform: translate(-50%, 0%);
            }
        }
    }
    &.title-right {
        text-align: right;
        p {
            margin-right: 0;
            margin-left: auto;
        }
        .title-divider {
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
    .title-divider {
        width: 70px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        background: #aaaaaa;
        position: relative;
        &:after {
            content: '';
            width: 50px;
            position: absolute;
            top: 4px;
            left: 0px;
            display: block;
            height: 1px;
            background-color: #c4c4c4;
        }
    }
}

.divider-1,
.divider-2,
.divider-3 {
    text-align: center;
    position: relative;
    overflow: hidden;
    >* {
        display: inline-block;
        position: relative;
        &:after,
        &::before {
            background-color: #ddd;
            content: '';
            display: block;
            width: 9999px;
            left: 100%;
            margin-left: 20px;
            top: 50%;
            margin-top: -.5px;
            height: 1px;
            position: absolute;
        }
        &:after {
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: 20px;
        }
    }
}

.divider-2>*:after,
.divider-2>*:before {
    background-color: transparent;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    height: 4px;
    margin-top: -3px;
}

.divider-3>*:after,
.divider-3>*:before {
    background-color: transparent;
    border-top: 1px dashed #aaa;
}

.divider-3>*:after,
.divider-3>*:before {
    background-color: transparent;
    border-top: 1px dashed #aaa;
}

.divider-dark {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #000;
}

.divider-light {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
}