.preloader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 1000000000;
    overflow: hidden;
}

.main-loader {
    position: relative;
    height: 150px;
    width: 100%;
}

.loader-1 {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    .loader {
        width: 70px;
        text-align: center;
        display: table-cell;
        margin: 0 auto;
        vertical-align: middle;
        >div {
            width: 18px;
            height: 18px;
            background-color: #333;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            -moz-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            -o-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
        .bounce1 {
            -webkit-animation-delay: -0.32s;
            -moz-animation-delay: -0.32s;
            -o-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        .bounce2 {
            -webkit-animation-delay: -0.16s;
            -moz-animation-delay: -0.16s;
            -o-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        @-webkit-keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        @-moz-keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
        @-o-keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                -o-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
        @keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                -o-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
    }
}

.loader-2 {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    .loader {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        >div {
            display: none;
        }
        >div:first-child {
            display: block;
            width: 40px;
            height: 40px;
            background-color: #333;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            -moz-animation: sk-scaleout 1.0s infinite ease-in-out;
            -o-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
            margin: 0 auto;
        }
    }
    @-webkit-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0)
        }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }
    @-moz-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }
    @-o-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -o-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }
    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -o-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }
}

.loader-3 {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
    .loader {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        >div {
            display: none;
        }
        >div:first-child {
            display: block;
            width: 50px;
            height: 50px;
            font-size: 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            border-right: 1px solid rgba(0, 0, 0, 0.08);
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            border-left: 1px solid rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-animation: spinner 700ms infinite linear;
            -moz-animation: spinner 700ms infinite linear;
            -o-animation: spinner 700ms infinite linear;
            animation: spinner 700ms infinite linear;
            z-index: 100001;
            margin: 0 auto;
        }
    }
    @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.loader-4 {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    position: relative;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
        position: relative;
        text-align: center;
        -webkit-animation: sk-rotate 2.0s infinite linear;
        -moz-animation: sk-rotate 2.0s infinite linear;
        -o-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
        >div {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: #333;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            -moz-animation: sk-bounce 2.0s infinite ease-in-out;
            -o-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        .bounce2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1.0s;
            -moz-animation-delay: -1.0s;
            -o-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        .bounce3 {
            display: none;
        }
    }
    @-webkit-keyframes sk-rotate {
        100% {
            -webkit-transform: rotate(360deg)
        }
    }
    @-moz-keyframes sk-rotate {
        100% {
            -moz-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
        }
    }
    @-o-keyframes sk-rotate {
        100% {
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
        }
    }
    @keyframes sk-rotate {
        100% {
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
        }
    }
    @-webkit-keyframes sk-bounce {
        0%,
        100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }
    @-moz-keyframes sk-bounce {
        0%,
        100% {
            -moz-transform: scale(0.0);
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            -moz-transform: scale(1.0);
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    @-o-keyframes sk-bounce {
        0%,
        100% {
            -moz-transform: scale(0.0);
            -o-transform: scale(0.0);
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            -moz-transform: scale(1.0);
            -o-transform: scale(1.0);
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    @keyframes sk-bounce {
        0%,
        100% {
            -moz-transform: scale(0.0);
            -o-transform: scale(0.0);
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            -moz-transform: scale(1.0);
            -o-transform: scale(1.0);
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
}