.split-section>[class*=col-] {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    min-height: 300px;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.overlap-images {
    position: relative;
    height: 100%;
    width: 100%;
    >div {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 100%;
        width: auto;
        float: left;
    }
    &.overlap-3-images {
        >div {
            width: 33.33%;
        }
    }
    &.overlap-2-images {
        >div {
            width: 50%;
        }
    }
    &:after {
        display: block;
        clear: both;
        content: "";
    }
    .image-box-lg img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .image-box-md img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.experience {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 40px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .experience-title {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        h6 {
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 80%;
        }
    }
    .experience-info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.opening-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 8px 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    .days,
    .time {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        width: 100%;
        min-height: 1px;
    }
    .time {
        text-align: right;
    }
}

.special-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 8px 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .menu-item-name,
    .menu-info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
    }
    .menu-info {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        p {
            opacity: 0.8;
        }
    }
}

.offer-banner {
    border: 8px solid #eee;
    position: relative;
    display: block;
    overflow: hidden;
    color: inherit;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    img {
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .banner-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 15px 30px;
        -o-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
    }
    &:hover .banner-overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
    &:hover img {
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    &:hover .banner-overlay-content h1,
    &:hover .banner-overlay-content h2,
    &:hover .banner-overlay-content h3,
    &:hover .banner-overlay-content h4,
    &:hover .banner-overlay-content h5,
    &:hover .banner-overlay-content h6,
    &:hover .banner-overlay-content p {
        color: #ececec;
    }
}

.image-hover {
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    &:hover {
        opacity: 0.7;
    }
}