.shape-curve-bottom {
    -webkit-border-bottom-left-radius: 300%;
    -moz-border-radius-bottomleft: 300%;
    border-bottom-left-radius: 300%;
    -webkit-border-bottom-right-radius: 300%;
    -moz-border-radius-bottomright: 300%;
    border-bottom-right-radius: 300%;
    height: 100%;
    width: 150%;
    left: -25%;
    position: relative;
    overflow: hidden;
}

.shape-curve-top {
    -webkit-border-top-left-radius: 300%;
    -moz-border-radius-topleft: 300%;
    border-top-left-radius: 300%;
    -webkit-border-top-right-radius: 300%;
    -moz-border-radius-topright: 300%;
    border-top-right-radius: 300%;
    height: 100%;
    width: 140%;
    left: -20%;
    position: relative;
    overflow: hidden;
}

.shape-skew-bottom {
    -webkit-transform: skew(0deg, -5deg);
    -moz-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    -o-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    overflow: hidden;
}

.shape-triangle-bottom {
    position: relative;
    overflow: hidden;
    &:before {
        border-right: 50vw solid #fff;
        border-top: 80px solid transparent;
        bottom: 0;
        content: "";
        height: 0;
        position: absolute;
        right: 0;
        width: 0;
        z-index: 2;
    }
    &:after {
        border-left: 50vw solid #fff;
        border-top: 80px solid transparent;
        bottom: 0;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        width: 0;
        z-index: 2;
    }
}

.shape-skew-content {
    -webkit-transform: skew(0deg, 5deg);
    -moz-transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -o-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
}