.product {
    margin-bottom: 47px;
    .product-img-wrapper {
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        .product-promo {
            background-color: #626262;
            color: #fff;
            display: inline-block;
            font-weight: 600;
            left: 0px;
            letter-spacing: 1px;
            line-height: 1;
            padding: 4px 11px 5px;
            position: absolute;
            text-transform: uppercase;
            top: 15px;
            -webkit-border-radius: 0px 2px 2px 0px;
            -moz-border-radius: 0px 2px 2px 0px;
            border-radius: 0px 2px 2px 0px;
        }
        .product-img-hover {
            position: absolute;
            left: 0;
            bottom: -35px;
            width: 100%;
            background: rgba(28, 28, 28, 0.9);
            text-align: center;
            font-size: 11px;
            line-height: 35px;
            font-weight: 600;
            -webkit-transition: all ease-out .2s;
            -o-transition: all ease-out .2s;
            -moz-transition: all ease-out .2s;
            transition: all ease-out .2s;
            .pull-right {
                a {
                    color: #fff;
                    display: block;
                    cursor: pointer;
                    width: 35px;
                    border-left: 1px rgba(255, 255, 255, 0.1) solid;
                    float: left;
                    .fa {
                        vertical-align: bottom;
                        line-height: 35px;
                        margin-right: 3px;
                        width: 25px;
                    }
                    &:hover {
                        background: #fff;
                        color: #222;
                        border-color: transparent !important;
                    }
                }
            }
            .pull-left {
                a {
                    color: #fff;
                }
            }
        }
        &:hover .product-img-hover {
            bottom: 0;
        }
    }
    .product-info {
        position: relative;
        display: block;
        .product-title {
            a {
                color: #878787;
                font-weight: bold;
                text-transform: capitalize;
            }
        }
        .product-price {
            span {
                letter-spacing: 0.05rem;
                color: #878787;
                del {
                    margin-left: 10px;
                }
                .product-discountPercentage {
                    color: #ff5722;
                    font-weight: 400;
                    font-size: 11px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.sidebar {
    .widget {
        margin-bottom: 60px;
        .widget-title {
            h5 {
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: .85em;
                margin-bottom: 1rem;
            }
        }
        .widget-category {
            li {
                line-height: normal;
                a {
                    color: #555;
                    text-transform: capitalize;
                    font-weight: 300;
                    line-height: 1.9;
                    font-size: 14px;
                    display: inline-block;
                    small {
                        opacity: 0.8;
                        font-size: 0.65rem;
                    }
                }
            }
        }
        .tags a {
            display: inline-block;
            margin: 0 2px 5px 0;
            padding: 0px 7px;
            border: 1px solid #e9e9e9;
            color: #777;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
        }
        .widget-latest-post {
            li {
                margin: 10px 0;
                float: left;
                width: 100%;
                .recent-post {
                    float: left;
                    width: 65px;
                    img {
                        height: 40px;
                    }
                }
                .recent-post-info {
                    padding-left: 10px;
                    overflow: hidden;
                    a {
                        display: block;
                        color: inherit;
                        line-height: normal;
                    }
                }
                .thumb {
                    float: left;
                    width: 75px;
                    height: 75px;
                    margin-right: 20px;
                    overflow: hidden;
                    -webkit-border-radius: 0.2rem;
                    -moz-border-radius: 0.2rem;
                    border-radius: 0.2rem;
                }
                .w-desk {
                    display: inherit;
                    overflow: hidden;
                    color: #9b9a9a;
                    span {
                        color: #878787;
                        del {
                            margin-right: 10px;
                        }
                    }
                    a {
                        color: #878787;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            &::after {
                display: block;
                clear: both;
                content: "";
            }
        }
        .widget-search {
            position: relative;
            i {
                position: absolute;
                right: 0px;
                padding: 16px 22px;
                font-size: 14px;
                cursor: pointer;
            }
            input {
                padding-right: 30px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

.single-product-detail {
    .product-title {
        margin-bottom: 0.5rem;
        a {
            color: #878787;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 1.5rem;
        }
    }
    .user-review {
        a {
            color: #878787;
            font-weight: bold;
        }
    }
    .product-price {
        font-size: 1.5rem;
        span {
            letter-spacing: 0.05rem;
            color: #878787;
            del {
                margin-left: 10px;
            }
            .product-discountPercentage {
                color: #ff5722;
                font-weight: 400;
                font-size: 11px;
                margin-left: 5px;
            }
        }
    }
}

.cart_details {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    padding: 20px;
    width: 100%;
    h5 {
        color: #878787;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 1rem;
    }
    a {
        display: block;
    }
    .button+.button {
        margin-left: 0px;
    }
}

.cart_product {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    .cart_product_heading {
        padding: 10px 20px;
        width: 100%;
        display: block;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 30px;
        h4 {
            color: #878787;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 1rem;
            span {
                color: #837f7e;
                font-weight: 400;
                font-size: 15px;
                margin-left: 5px;
                text-transform: none;
            }
        }
    }
    .cart_item {
        margin-bottom: 30px;
        padding: 0 20px 10px;
        border-bottom: 1px solid #eee;
        .cart_item_image {
            width: 75px;
            height: 75px;
            margin-right: 20px;
            overflow: hidden;
            -webkit-border-radius: 0.2rem;
            -moz-border-radius: 0.2rem;
            border-radius: 0.2rem;
        }
        .cart_item_title {
            position: relative;
            h4 {
                color: #878787;
                font-weight: 500;
                text-transform: capitalize;
                font-size: 0.95rem;
            }
        }
        .cart_item_price {
            position: relative;
            .cart_product_remove {
                position: absolute;
                right: 0;
                top: 0;
                a {
                    color: inherit;
                }
            }
            .product-price {
                span {
                    letter-spacing: 0.05rem;
                    color: #878787;
                    del {
                        margin-left: 10px;
                    }
                    .product-discountPercentage {
                        color: #ff5722;
                        font-weight: 400;
                        font-size: 11px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .cart_item_size {
            position: absolute;
            right: 0;
            top: 0;
            span {
                display: inline-block;
                color: #878787;
                font-size: 12px;
            }
            .cart_item_color {
                margin-right: 50px;
                .cart_item_color_circle {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #282828;
                    margin-left: 5px;
                }
            }
        }
    }
    .cart_buy_opction {
        .button+.button {
            margin-top: 0px;
            margin-left: 18px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .cart_product .cart_item .cart_item_title h4 {
        margin-bottom: 0;
    }
    .cart_product .cart_item .cart_item_size {
        position: relative;
        margin-bottom: 1.1rem;
    }
    .cart_product .cart_item .cart_item_price .product-price span {
        letter-spacing: 0;
    }
    .cart_product .cart_buy_opction .button+.button {
        margin-top: 18px;
    }
}