.testimonial {
    .testimonial-thumb {
        margin-bottom: 1.3rem;
        img {
            width: 70px;
            height: 70px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
    .testimonial-info {
        p {
            color: inherit;
            font-size: 1rem;
            font-weight: 500;
            &::before {
                content: "“";
                margin-left: -13px;
                padding-right: 4px;
                font-size: 1.5rem;
                line-height: 1;
                opacity: .8;
            }
            &::after {
                content: "”";
                margin-right: -13px;
                padding-left: 4px;
                font-size: 1.5rem;
                line-height: 1;
                opacity: .8;
            }
        }
    }
    .author-info {
        p {
            color: inherit;
            margin-top: 0.55rem;
            font-weight: bold;
            &::before {
                content: '\2014';
                margin-right: 0.5rem;
            }
            small {
                font-weight: 300;
            }
        }
    }
}

.slider {
    .testimonial {
        padding: 40px 0;
        .testimonial-info {
            padding: 0px 100px;
            p {
                color: inherit;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2rem;
                &::before {
                    content: "“";
                    margin-left: -13px;
                    padding-right: 4px;
                    font-size: 2rem;
                    line-height: 1;
                    opacity: .8;
                    font-weight: 500;
                }
                &::after {
                    content: "”";
                    margin-right: -13px;
                    padding-left: 4px;
                    font-size: 2rem;
                    line-height: 1;
                    opacity: .8;
                    font-weight: 500;
                }
            }
        }
        .author-info {
            p {
                color: inherit;
                margin-top: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .slider {
        .testimonial {
            padding: 30px 0;
            .testimonial-info {
                padding: 0px 10px;
            }
        }
    }
}