/*
 * HTML5 BG VIdeo
 */

.local-video-bg {
    position: relative;
    overflow: hidden;
    video {
        height: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        z-index: -1;
    }
}