/*Green - #4CAF50
/*Green - #8ac832 new

sky - #2196f3
sky - #03a9f4
sky - #00bcd4


red - #ff4954
/*-------------------------------------------------*/

$theme-color :#ea625c;
$theme-color-1 :rgba(234, 98, 92, 0.1);
$theme-color-2 :rgba(234, 98, 92, 0.2);
$theme-color-3 :rgba(234, 98, 92, 0.3);
$theme-color-4 :rgba(234, 98, 92, 0.4);
$theme-color-5 :rgba(234, 98, 92, 0.5);
$theme-color-6 :rgba(234, 98, 92, 0.6);
$theme-color-7 :rgba(234, 98, 92, 0.7);
$theme-color-8 :rgba(234, 98, 92, 0.8);
$theme-color-9 :rgba(234, 98, 92, 0.9);
/*
 /*-------------------------------------------------*/

.video-button {
    &.video-button-color {
        .video-button-animation {
            background: $theme-color;
        }
        background: $theme-color;
        border: 2px solid $theme-color;
        color: #ffffff;
    }
}

.overlay[data-overlay-color="theme-color"]:after {
    background-color: $theme-color;
}

.theme-text-color {
    color: $theme-color;
}

.divider,
.theme-bg {
    background: $theme-color !important;
}

/*-------------------------------------------------*/

.button.button-color.button-shadow {
    -webkit-box-shadow: 0 0.5rem 1rem $theme-color-3;
    -moz-box-shadow: 0 0.5rem 1rem $theme-color-3;
    box-shadow: 0 0.5rem 1rem $theme-color-3;
}

.progress-box.bar-color .progress-bar-item .progress .progress-bar,
mark,
.radio input[type="radio"]+label:after,
.checkbox input[type="checkbox"]:checked+label:after,
.loader-1.loader-color .loader>div,
.loader-2.loader-color .loader>div,
.loader-4.loader-color .loader>div,
.header .navbar .extra-navbar-item .menu-extra.shpping-cart a span.badge,
.overlay[data-overlay-color="theme"]:after {
    background-color: $theme-color;
}

.blog .blog-info a:hover,
.button.button-outline.button-color,
.radio input[type="radio"]+label:before {
    color: $theme-color;
}

.pricing-colored,
.button.button-color {
    background: $theme-color !important;
    border-color: $theme-color !important;
    &:hover {
        color: $theme-color;
        border-color: $theme-color;
    }
}

.subscribe-form .button.button-color:hover {
    background: $theme-color;
    border-color: $theme-color;
}

.button.button-color.button-outline:hover {
    background: $theme-color !important;
}

.radio input[type="radio"]:checked+label:before {
    border: 2px solid $theme-color;
}

.loader-3.loader-color .loader>div:first-child {
    border-top: 1px solid $theme-color-8;
    border-right: 1px solid $theme-color-8;
    border-bottom: 1px solid $theme-color-8;
    border-left: 1px solid $theme-color-5;
}